:root{
  --app-black: #231F20;
  --app-dark: #292426;
  /* --app-lighter-dark: #292426; */
  --app-lighter-dark: #312B2D;
  --app-gray: #949393;
  --app-yellow: #F8C542;
  --app-red: #761638;
  --app-white: #C7C7C7;

  --max-width: 1300px;
  --min-height: 100vh;
}

body{
  background-color: var(--app-black);
}

.App{
  /* max-width: var(--max-width); */
  /* height: 100vh; */
  min-height: var(--min-height);
  flex: 1;
  color: var(--app-black);
  /* background-color: aquamarine; */
  display: flex;
}

.App-outer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--app-black);
}
